body{
  margin:0;
  font-family:Inter, sans-serif;
  background:#e6eaef;
}

.container{
  max-width:500px;
  margin:40px auto;
  background:#e0e5ec;
  padding:20px;
  border-radius:16px;
  box-shadow:9px 9px 18px #b8bec7,-9px -9px 18px #ffffff;
}

input, select, textarea{
  width:100%;padding:10px;margin:6px 0 16px;
  border:0;border-radius:10px;
  background:#f5f7fa;
}

button{
  width:100%;padding:12px;border-radius:10px;
  background:#1c82e3;color:white;font-size:16px;
  border:0;cursor:pointer;
  margin-top:10px;
}
